@media screen and (max-width: 800px) {
  :root {
    /* border */
    --border-line: 2px;
    --border-script-imgBox : 5px;
  }
  body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  /* layout */
  #header {}
  .section {width: 100vw; margin-left: 0; overflow: hidden;}

  /*** gnbWrap ***/
  .gnbWrap {
    width: 100vw;
    padding: 3vw;
    clip-path: polygon(0 0,100% 0,100% 24.2vw,0 24.2vw);
    transition: transform .5s,clip-path .5s,-webkit-clip-path .5s;
    position: fixed;
  }
  .gnbWrap.active {
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
  }
  /* #section01 {
    display: none;
  } */
  .gnbWrap .gnb {
    
  }
  .gnbWrap .gnb .gnbTop {
    padding: 2.45vw 0;
    align-items: center;
  }
  .gnbWrap .gnb .gnbTop .left {
    font-size: 6vw; line-height: auto ;
  }
  .gnbWrap .gnb .gnbTop .left .img {
    height: auto;
  }
  .gnbWrap .gnb .gnbTop .left .img img {
    width: 13vw; 
  }
  .gnbWrap .gnb .gnbTop .left .txt {
    padding-top: 5px;
  }
  .gnbWrap .gnb .gnbTop .rightBtnMo .mo_ham {
    width: 100%;
  }
  .gnbWrap .gnb .gnbTop .rightBtnMo .mo_ham span{
    display: block;
    }
  .gnbWrap.active .gnb .gnbTop .rightBtnMo .mo_ham span:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }
  .gnbWrap.active .gnb .gnbTop .rightBtnMo .mo_ham span:nth-child(2) {
    transform: scaleX(0);
  }
  .gnbWrap.active .gnb .gnbTop .rightBtnMo .mo_ham span:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }
  .gnbWrap .gnb .gnbCont .left {
    width: 100%;
  }
  .gnbWrap .gnb .gnbCont .left .box {
    height: 10vh;
  }
  .gnbWrap .gnb .gnbCont .left .nav ul li {
    font-size: 18px;
    padding: 15px;
  }
  .gnbWrap .gnb .gnbCont .left .nav ul li a .iconArrow {
    width: 5%;
  }
  .gnbWrap .gnb .gnbCont .left .nav ul li a .iconArrow svg {
    width: 4.533333333333333vw;
    height: 4.533333333333333vw;
  }
  .gnbWrap .gnb .gnbCont .right {
    display: none;
  }
  .gnbWrap .gnb .gnbCont .rightBtn {
    display: none;
  }

  /*** contents > section01 : main visual ***/
  .sec01 {}
  .sec01 .main {
    width: 100vw;
    margin-left: 0; margin-top: 0; 
    padding-top: 24.8vw; 
  }
  .sec01 .main div {}
  .sec01 .main .mainTit {
    font-size: 13vw; line-height: 15vw;
    padding-top: 10vw;
  }
  .swiper {
    width: 95vw; height: 55vh;
  }
  .swiper-slide .img {
    width: 60vw;
  }
  .swiper-button-next .Icon.is-arrow, .swiper-button-prev .Icon.is-arrow {
    width: 30px; height: 30px;
    border-width: 1px;
  }
  .swiper-button-next .Icon.is-arrow svg, .swiper-button-prev .Icon.is-arrow svg {
    width: 10px; height: 10px;
  }

  /*** contents > sec02 : about me ***/
  .sec02 {
    padding: 10vw 0 20vw;
    height: auto;
    /* background-color: antiquewhite; */
  }
  .sec02 .sec2Wrap {
    width: 90vw; 
  }
  .sec02 .sec2Wrap h2.secTit {
    font-size: 12vw; line-height: 20vw; 
    width: 100%; text-align: center;
    top: -8.5vw; left: 0;
  }
  .sec02 .sec2Wrap .secBox {
    padding-top: 13vw;
  }
  .sec02 .sec2Wrap .secBox .secImg {
    width: 55vw; 
    border-width: 1.5vw;
  }
  .sec02 .sec2Wrap .secBox .secTxt {
    padding: 20px 15px;
    font-size: 4.5vw; font-weight: 300;
  }

  /*** contents > sec03 : project ***/
  .sec03 .sec3Wrap .secTit {
    font-size: 15vw; line-height: 15vw;
    padding: 6.5vw 5vw;
  }
  .sec03 .sec3Wrap .secTit .titIcon {
    top: -1vw; left: 11vw;
    width: 15vw;
  }
  @keyframes iconwow {
    0% {
      top: -1vw;
    }
    50% {
      top: -2.5vw;
    }
  }
  .sec03 .sec3Wrap .secBox {
    justify-content: center; flex-direction: column;
    width:90vw; height: auto;
    margin-left: auto; margin-right: auto;
  }
  .sec03 .sec3Wrap .secBox .boxWrap {
    width: 100%; margin-top: 10vw;
  }
  .sec03 .sec3Wrap .secBox .boxWrap2 {
    width: 100%; 
    margin-top: 10vw; padding-bottom: 10vw;
    
  }
  .sec03 .sec3Wrap .secBox .boxWrap .boxImg {
    width:100%; height: auto; 
    /* background-image: url(../img/pro_item01.png); */
    background-position: top center;
    border-width: 5px;
  }
  .sec03 .sec3Wrap .secBox .boxWrap2 .boxImg {
    border-width: 5px;
  }
  .sec03 .sec3Wrap .secBox .boxWrap .boxImg.project-habit iframe {
    min-height: 540px;
  }
  .sec03 .sec3Wrap .secBox .boxWrap .boxTxt,
  .sec03 .sec3Wrap .secBox .boxWrap2 .boxTxt {
    font-size: 16px;
    padding: 10px 0 0 0;
    text-align: center;
  }
  
  .sec03 .sec3Wrap .secBox .boxWrap2 .boxTxt {
    text-align: center;
  }

  /*** contents > sec04 : script ***/
  .sec04 {
    padding: 3vw;
  }
  .sec04 .sec4Wrap .left {
    width: 100%;
    padding-bottom: 5vw;
  }
  .sec04 .sec4Wrap .left .secTit {
    font-size: 15vw; line-height: 15vw;
    padding: 6.5vw 5vw;
  }
  .sec04 .sec4Wrap .left .secTit .titIcon {
    width: 15vw; bottom: -8vw; left: 3vw;
  }
  @keyframes iconarrow {
    0% {
      bottom: -8vw;
      transform: rotate(0deg);
    }
    50% {
      bottom: -8vw;
      transform: rotate(10deg);
    }
  }
  .sec04 .sec4Wrap .left .secBox {
    padding: 3vw;
    padding-top: 5vw;
  }
  .sec04 .sec4Wrap .left .secBox .box {
    width: 100%;
    margin-top: 10vw;
  }
  .sec04 .sec4Wrap .left .secBox .box .boxTxt {
    text-align: center;
    font-size: 16px; 
    padding: 8px 0 0 0;
  }
  .sec04 .sec4Wrap .left .secBox .box .boxImg {
    height: auto;
  }
  .sec04 .sec4Wrap .left .secBox .box .boxImg.shoppingVer1 {

  }
  .sec04 .sec4Wrap .left .secBox .box .boxImg.moleGame {
    height: 400px;
  }
  .sec04 .sec4Wrap .right {
    display: none;
  }
  /*** contents > sec05 : animation ***/
  .sec05 .sec5Wrap {
    padding-bottom: 10vw;
  }
  .sec05 .sec5Wrap .secTit {
    font-size: 15vw;
    text-align: center;
    line-height: 15vw;
    padding: 6.5vw 5vw;
    border-bottom: var(--border-line) solid var(--color-black30);
  }
  .sec05 .sec5Wrap .secTit .titIcon {
    width: 15vw;
    right: 46px;
    top: -20px;
  }
  @keyframes iconwow {
    0% {
      margin-top: 0;
    }
    50% {
      margin-top: 5px;
    }
  }
  .sec05 .sec5Wrap .sec5Box {
    margin-top: 110vw;
    display: flex;
    justify-content: space-between;
    width: 94vw;
    margin-left: auto; margin-right: auto;
  }
  .sec05 .sec5Wrap .sec5Box .boxWrap {
    position: static;
    height: auto;
    /* padding: 10px; */
    padding: 0;
    display: inline-block;
    border: var(--border-line) solid var(--color-black30);
  
  }
  .sec05 .sec5Wrap .sec5Box .aniGallery .gallery {
    opacity: 0;
    z-index: 10;
    position: absolute;
    top: -105vw;
    left: 50%;
    transform: translateX(-50%);
    width: 94vw;
    height: 100vw;
    /* opacity: 0.3; */
  }
  .sec05 .sec5Wrap .sec5Box .aniGallery .gallery iframe {
    width: 250%;
    height: 100%;
    transform: translateX(-25%);
  }
  .sec05 .sec5Wrap .sec5Box .aniGallery:nth-child(2) .gallery iframe {
    transform: translateX(-40%);
  }
  .sec05 .sec5Wrap .sec5Box .boxWrap .boxTxt {
    width: auto;
    height: auto;
    font-size: 4vw;
    line-height: 4vw;
    padding-top: 0;
    padding-left: 0;
    padding: 3vw 1vw;
    position: static;
    transition: none;
    text-align: center;
  }
  .sec05 .sec5Wrap .sec5Box .boxWrap.activeMob {
    border: var(--border-line) solid #000;
  }
  .sec05 .sec5Wrap .sec5Box .boxWrap.activeMob .boxTxt {
    color: var(--color-black);
  }
  .sec05 .sec5Wrap .sec5Box .boxWrap.activeMob .gallery {
    opacity: 1;
  }

  /* footer */
  .footer {
    height: auto;
    background-image: url(../img/bg_contact_mob.png);
  }
  .footerWrap .secTit {
    font-size: 12vw;
    padding: 6.5vw 5vw 2vw;
  }
  .footerCont {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
  .footerCont p.contTit {
    /* padding: 6.5vw 0; */
    font-size: 8vw;
  }
  .footerCont .contactBox {
    width: 100%;
  }
  .footerCont .contactBox form {
    font-size: 16px;
  }
  .footerCont .contactBox form label span {
    width: 30%;
  }
  .footerCont .contactBox form label textarea {
    width: 69%;
    height: 45px;
  }
  .footerCont .contactBox form .button button {
    font-size: 15px;
    padding: 5px 15px;
  }
  .footerCont .imgBox {
    display: none;
  }
  .footer .lolling {
    margin-top: 0;
    position: static;
  }
}





